<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<h2><%= customError.message %></h2>
<h3>More details: <%= JSON.stringify(customError) %></h3>
<%- include("partials/footer.ejs") %>