<%- include("partials/head.ejs") %> 
<%- include("partials/header.ejs") %>


<div class="container">


<h3>Products List</h3>

<br>

<a href="/products/new">
  <button type="button" class="btn btn-outline-primary me-2">Add a new product</button>
</a>

<br>
<br>

<!-- sorting -->

<form method="GET" action="/products">
  <label for="sortField"> Sort by :</label>
  <select name="sortField" id="sortField">
    <option value="createdAt" <%= sortField === 'createdAt' ? 'selected' : "" %>>Date</option>
    <option value="name" <%= sortField === 'name' ? 'selected' : "" %>>Name</option>
    <option value="type" <%= sortField === 'type' ? 'selected' : "" %>>Type</option>
    <option value="size" <%= sortField === 'size' ? 'selected' : "" %>>Size</option>
    <option value="price" <%= sortField === 'price' ? 'selected' : "" %>>Price</option>
  </select>
  <label for="sortOrder"> Order :</label>
  <select name="sortOrder" id="sortOrder">
    <option value="asc" <%= sortOrder === 'asc' ? 'selected' : "" %>>Ascending</option>
    <option value="desc" <%= sortOrder === 'desc' ? 'selected' : "" %>>Descending</option>
   
  </select>
  <button type="submit" class="btn btn-outline-primary me-2">Sort</button>
</form>



  <table id="product-table" class="table table-striped">
    <thead>
    <tr id="product-table-header">
      <th>Name</th>         
      <th>Description</th>
      <th>Type</th>
      <th>Price</th>
      <th>Size</th>
      <th>Published</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
  <% if (products && products.length) { %>
    <% products.forEach((product) => { %>
      
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.type %></td>
        <td>$<%= product.price %></td>
        <td><%= product.size %></td>
        <td><%= product.published?"Published":"" %></td>
        <td><%= product.sold?"Sold":"" %></td>
        <td><a href="/products/edit/<%= product._id %>">
          <button type="button" class="btn btn-light rounded-circle"><i class="bi-pencil"></i></button>
        </a></td>
        <td>
          <form method="POST" action="/products/delete/<%= product._id %>" style="display: inline">
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          <button type="submit" class="btn btn-light rounded-circle">
            <i class="bi-trash"></i>
          </button>
          </form>
      </td>
      </tr>
    <% }) %>
  <% } %>
  </tbody>
</table>
<br>




<!-- pagination -->
<nav aria-label="Page navigation example">
      <ul class="pagination">
      <% if (currentPage > 1) { %>
        <li class="page-item">
          <a  class="page-link" href="/products?page=<%= currentPage - 1 %>&sortField=<%= sortField %>&sortOrder=<%= sortOrder %>">Previous</a>
        </li>
      <% }%>

      <% for (let pageCount=1 ; pageCount<=totalPages ; pageCount++){ %>
        <li class="page-item  <%= currentPage === pageCount ? 'active' : '' %>">
            <a  class="page-link" href="/products?page=<%= pageCount %>&sortField=<%= sortField %>&sortOrder=<%= sortOrder %>"><%=pageCount %></a>
          </li>
      <% }%>

      <% if(currentPage < totalPages) { %>
        <li class="page-item">
            <a  class="page-link" href="/products?page=<%= currentPage +1 %>&sortField=<%= sortField %>&sortOrder=<%= sortOrder %>">Next</a>
          </li>
      <% }%>
      </ul>

</nav>


</div>

<%- include("partials/footer.ejs") %>